# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# doxygen output
html

# cmake output
build
lib

# bin
bin/test_*
bin/orm
bin/sylar
orm_out

# log
system.txt
log.txt

root.txt
root2.txt
system_error.txt
system.txt

# vscode
tests_log
.vscode
.cache